@page
@model EnglishProject.Pages.EnglishTasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EnglishTask[0].TaskType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnglishTask[0].GrammarPart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnglishTask[0].EnglishLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnglishTask[0].Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnglishTask[0].Example)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnglishTask[0].Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnglishTask[0].Answer)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EnglishTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrammarPart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Example)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
